<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>projetFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletEnter</display-name>
    <servlet-name>servletEnter</servlet-name>
    <servlet-class>servelt.servletEnter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletEnter</servlet-name>
    <url-pattern>/servletEnter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerConnecter</display-name>
    <servlet-name>ControllerConnecter</servlet-name>
    <servlet-class>servelt.ControllerConnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerConnecter</servlet-name>
    <url-pattern>/ControllerConnecter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSupprimer</display-name>
    <servlet-name>ControllerSupprimer</servlet-name>
    <servlet-class>servelt.ControllerSupprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSupprimer</servlet-name>
    <url-pattern>/ControllerSupprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recupModif</display-name>
    <servlet-name>recupModif</servlet-name>
    <servlet-class>servelt.recupModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recupModif</servlet-name>
    <url-pattern>/recupModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerModifier</display-name>
    <servlet-name>ControllerModifier</servlet-name>
    <servlet-class>servelt.ControllerModifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerModifier</servlet-name>
    <url-pattern>/ControllerModifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAjouter</display-name>
    <servlet-name>ControllerAjouter</servlet-name>
    <servlet-class>servelt.ControllerAjouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAjouter</servlet-name>
    <url-pattern>/ControllerAjouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>servelt.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompteAjouter</display-name>
    <servlet-name>CompteAjouter</servlet-name>
    <servlet-class>servelt.CompteAjouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteAjouter</servlet-name>
    <url-pattern>/CompteAjouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSupprimer2</display-name>
    <servlet-name>ControllerSupprimer2</servlet-name>
    <servlet-class>servelt.ControllerSupprimer2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSupprimer2</servlet-name>
    <url-pattern>/ControllerSupprimer2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatiereAjouter</display-name>
    <servlet-name>MatiereAjouter</servlet-name>
    <servlet-class>servelt.MatiereAjouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatiereAjouter</servlet-name>
    <url-pattern>/MatiereAjouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAjouter2</display-name>
    <servlet-name>ControllerAjouter2</servlet-name>
    <servlet-class>servelt.ControllerAjouter2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAjouter2</servlet-name>
    <url-pattern>/ControllerAjouter2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recupModif2</display-name>
    <servlet-name>recupModif2</servlet-name>
    <servlet-class>servelt.recupModif2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recupModif2</servlet-name>
    <url-pattern>/recupModif2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerModifier2</display-name>
    <servlet-name>ControllerModifier2</servlet-name>
    <servlet-class>servelt.ControllerModifier2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerModifier2</servlet-name>
    <url-pattern>/ControllerModifier2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VueMatiere</display-name>
    <servlet-name>VueMatiere</servlet-name>
    <servlet-class>servelt.VueMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VueMatiere</servlet-name>
    <url-pattern>/VueMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VueListe</display-name>
    <servlet-name>VueListe</servlet-name>
    <servlet-class>servelt.VueListe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VueListe</servlet-name>
    <url-pattern>/VueListe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterSpecialite</display-name>
    <servlet-name>AjouterSpecialite</servlet-name>
    <servlet-class>servelt.AjouterSpecialite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterSpecialite</servlet-name>
    <url-pattern>/AjouterSpecialite</url-pattern>
  </servlet-mapping>
</web-app>